.footer {
    background-color: #242533;
    min-height: 10vh;
    width: 100%;
    color: white;
    .grid-container {
        height: 80%;
        display: block;
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5px;
            grid-auto-rows: minmax(70px, auto);
            .col {
                width: calc(100%-10px);
                height: 80%;
                @media (max-width: 600px) {
                    height: 50%;
                }
            }
        }
    }
    .copyright {
        background-color: #00afef;
        width: 100%;
        height: auto;
        padding: 5px 0px 5px 0;
        .text {
            position: relative;
        }
        @media (max-width: 600px) {
            display: block;
            height: 100%;
        }
    }
}